.form1{
    background-image: url(20215.jpg);background-repeat: no-repeat ;background-size: cover;
        height: 570px;width: 440px;margin-left: 570px;margin-top: 50px;border-bottom-right-radius: 150px;border-top-left-radius: 150px;
    opacity: .8;
}

.form-group1{
    margin-left: 15%;padding-top: 150px;
}
.form-group2{
    margin-left: 15%;padding-top: 50px;
}
.form-group3{
    margin-left: 15%;padding-top: 50px;
}
#exampleInputName1{
        width: 300px;

}
#exampleInputPassword1{
    width: 300px;
}

.btn{
    margin-left: 35%;margin-top: 40px;width: 120px;height: 40px;
}
b{
    color: white;
}
.a{
    height: 90px;width: 110px;margin-left: 350px;
}
.b{
    color: aliceblue;font-family: sans-serif;font-size: 20px;
}
.sc{
    color: red;
}
.div1{
    margin-top: -55px;margin-left: 260px;
}
.header{
    margin-left: -110px;
}
.div2{
    margin-top: -65px;margin-left: 10px;
}



#h{
    margin-left: 45%;height: 50px;width: 170px;font-size: 22px;position: absolute;top: 300px;
}

#exampleInputName1{
        width: 300px;

}
#ini{
    margin-top: 40px;
    margin-left: 175px;
    width: 100px;
    height:40px; 
}





































